.home {
  float: left;
  width: 100%;
  background-color: rgb(20, 20, 20);
  margin-bottom: 3rem;
}

.homepage {
  background-color: #464546;
  margin-top: -3rem;
}

.home h1 {
  color: white;
}

.centered {
  margin: 6rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
